    <footer class="m2footer">
      <div class="m2container">
        <div class="m2footer-wrapper"><a class="type-display m2text1 text-display-sm m2footer__top js-to-top" href="#" id="totop">Back to top</a>
          <nav class="m2footer-navbar"><a class="type-display m2text1 text-display-sm m2footer-navbar__link" href="index.html#work">Work</a><a class="type-display m2text1 text-display-sm m2footer-navbar__link" href="index.html#contact">Contact</a></nav>
        </div>
      </div>
    </footer>
