    <header class="header">
      <div class="header__wrapper">
        <button
          class="header__burger"
          type="button"
          aria-label="Open navigation menu"
          aria-controls="site-navigation"
          aria-expanded="false"
        >
          <span> </span>
        </button>
        <div class="header__menu" id="site-navigation">
          <a class="header__menu-logo" href="index.html">MXPF</a>
          <button
            class="header__menu-exit"
            type="button"
            aria-label="Close navigation menu"
          ></button>
          <div class="header__menu-content">
            <nav class="header__menu-nav" aria-label="Primary navigation">
              <ul class="header__menu-list" id="myMenu">
                <li
                  class="header__menu-item"
                  data-menuanchor="home"
                  data-anchor=".section_home"
                >
                  <a class="header__menu-link" href="#home">Home</a>
                </li>
                <li
                  class="header__menu-item"
                  data-menuanchor="how-i-work"
                  data-anchor=".section__about"
                >
                  <a class="header__menu-link" href="#how-i-work"
                    >How I Work</a
                  >
                </li>
                <li
                  class="header__menu-item"
                  data-menuanchor="career-highlights"
                  data-anchor=".section__experience"
                >
                  <a class="header__menu-link" href="#career-highlights"
                    >Career Highlights</a
                  >
                </li>
                <li
                  class="header__menu-item"
                  data-menuanchor="work"
                  data-anchor=".section__works"
                >
                  <a class="header__menu-link" href="#work">Work</a>
                </li>
                <li
                  class="header__menu-item"
                  data-menuanchor="expertise"
                  data-anchor=".section__services"
                >
                  <a class="header__menu-link" href="#expertise">Expertise</a>
                </li>
                <li
                  class="header__menu-item"
                  data-menuanchor="experiments"
                  data-anchor=".section__experiments"
                >
                  <a class="header__menu-link" href="#experiments"
                    >Experiments</a
                  >
                </li>
                <li
                  class="header__menu-item"
                  data-menuanchor="contact"
                  data-anchor=".section__contacts"
                >
                  <a class="header__menu-link" href="#contact">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <a class="header__logo" href="index.html">MXPF</a>
        <nav class="header__links-nav" aria-label="Featured navigation">
          <ul class="header__links">
            <li><a href="#work">Work</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
